*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --main-bg-color: rgb(81, 192, 230);
    --black-color: rgb(17, 17, 17);
  }
body{
    min-height: 200vh;
    background-color: white;
}
.colors-black{
    background-color: var(--black-color);
}
.colors-white-txt{
    color: white;
}
header{
    position: fixed;
    width: 100%;
    height: 3.5rem;
    z-index: 5;
    box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 50%;
    display: flex;
    align-items: center;
}
.logo img{
    height: 2.5rem;
    padding-right: 20px;
}
.logo h3{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.logo h3:hover{
    color:rgb(81, 192, 230);
}
nav ul{
    margin: auto 0 auto 0;
    display: flex;
    width: 80%;
    justify-content: flex-start;
    list-style: none;
}
nav ul li{
    padding-right: 80px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    color:var(--main-bg-color);
}
.nav-active{
    color:var(--main-bg-color) ;
}
.colormode{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    width: 20%;
    cursor: pointer;
}
.colormode  img{
    height: 1.5rem;
    margin-right: 10px;
}
.colormode a{
    font-size: 18px;
}
.landing{
    height: 70vh;
    width: 80vw;
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.laptop-guy{
    max-width: 50%;
    height: auto;
}
.landing-text{
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-text h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.landing-text h1 span{
    animation: 2.5s flip-horizontal-bottom 0.8s linear infinite;
    color: var(--main-bg-color);
}
.landing-text p{
    color: rgb(124, 124, 124);
}
.landing-text-buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.landing-text-buttons button{
    padding: 10px 17px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}
.landing-text-buttons button:hover{
    transition: ease 1s;
    animation: upNdown linear 0.6s infinite;
}
.button-resume{
    background-color: rgb(243, 243, 243);
}
.button-project{
    background-color: rgb(63, 61, 86);
    color: rgba(255, 255, 255, 0.952);
}
/*carousel*/
.carousel-container{
    padding-top:150px ;
    width: 60%;
    margin: auto;
    overflow-x: hidden;
}
.carousel-slide{
    display: flex;
}
.carousel-slide img{
    width: 500px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.24);
}
.slider1{
    display: flex;
}
.slider1 div{
    width: 250px;
    font-size: 15px;
    margin-right: 80px;
}
.slider1-header{
    color: var(--main-bg-color);
    margin-bottom: 10px;
}
.slider1-services{
    margin: 10px 0;
    font-size: 30px;
}
/*carousel arrow*/
.arrows{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrows i{
    cursor: pointer;
    font-size: 30px;
}
/*skill*/
.skill-set{
    padding-top: 12vh;
    width: 80vw;
    margin: auto;
    text-align: center;
}

.skill-list{
    margin-top: 70px;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 40px;
}
.skill-list > div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.skill-list > div img{
    height: 100px;
    width: 100px;
}
.skill-list > div > div{
    margin-left: 20px;
}
.skill-list >div>div p{
    color: rgb(95, 95, 95);
}
.css3-color{
    fill: turquoise;
}
footer{
    height: 300px;
    margin-top: 150px;
    width: 100%;
    background-color: var(--black-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.footer-contact{
    margin: 70px 0 0 10%;
}
.footer-phone{
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.footer-phone a{
    color: rgb(185, 183, 183);
    cursor: pointer;
    text-decoration: none;
}
.footer-phone i{
    color: rgb(255, 255, 255);
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
    cursor: pointer;
}
.footer-about{
    margin: 70px 10% 0 0px;
    width: 30%;
    color: rgb(219, 219, 219);
}

  @keyframes flip-horizontal-bottom {
    0% {
        opacity: 0;
        
    }
    100% {
       opacity: 1;
    }
  }
  @keyframes upNdown{
      0%{
        transform: translateY(0);
      }
      50%{
        transform: translateY(-5px);
      }
      100%{
        transform: translateY(0);
      }
  }